.section_main {
  width: 100%;
  background: #ebdcdc;
  display: flex;
}

.main_div {
  width: 50%;
}

.main_div {
  /* width: 100%; */
  margin-left: 15%;
  margin-top: 2%;
}
.main_div > p {
  width: 50%;
}
.test > div {
  width: 30%;
  height: 300px;
  background: palevioletred;
  margin: 1%;
  font-size: 4vw;
  line-height: 300px;
  color: white;
}
